@{
    ViewBag.Title = "Home Page";
}


<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name </td>
            <td>@item.City</td>
            
        </tr>
    }
</table>